# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [2]:
SELECT COUNT(user_id) 
 FROM BooksDB.dbo.ratings
 WHERE rating >
                (SELECT AVG(rating)
                 FROM BooksDB.dbo.ratings);

(No column name)
650327

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [58]:
SELECT book_id, COUNT(rating)
FROM BooksDB.dbo.ratings
WHERE rating =1 or rating =5
GROUP BY book_id
HAVING COUNT(rating) >1000

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [59]:
SELECT book_id, COUNT(rating)
FROM BooksDB.dbo.ratings
WHERE rating =1 AND rating =5
GROUP BY book_id
HAVING COUNT(rating) >1000

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [62]:
SELECT [language_code]
FROM BooksDB.dbo.books
WHERE language_code =
    (SELECT language_code
     FROM BooksDB.dbo.books
     WHERE [language_code] LIKE "en-US%);

: Execution failed due to an unexpected error:
	SQL Execution error: A fatal error occurred.
	Incorrect syntax was encountered while WHERE [language_code] LIKE "en-US%); was being parsed.

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [53]:
SELECT tag_name, COUNT(tag_id)
FROM BooksDB.dbo.tags
WHERE COUNT(tag_id) > 100000;

: Msg 147, Level 15, State 1, Line 1
An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.